/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import 'mixins.css.scss';

/* TODO: break this sucker apart */

body {
  font-family: Georgia;
}

h1 {
  text-align: center;
  font-size: 45pt;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

pre {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

input {
  font-family: helvetica;
  font-size: 14pt;
  border: 1px solid #bbb;
  padding: 4px;
}

textarea, select {
  font-family: helvetica;
  font-size: 11pt;
  border: 1px solid #bbb;
  padding: 4px;
}

input#user, input#pass {
  margin-right: 10px;
  width: 200px;
}

#fader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
  background: #fff;
}

#logo a {
  color: #000;
  text-decoration: none;
}

#curlosaurus {
  margin: 0 auto;
  width: 60%;
}

#curlosaurus #body-toggle {
  line-height: 25px;
  cursor: pointer;
  float: right;
}

#curlosaurus #url {
  width: 100%;
}

#curlosaurus #body {
  width: 100%;
  height: 100px;
}

#curlosaurus #auth-block {
  margin-bottom: 0;
}

#curlosaurus #submit-block {
  float: right;
  margin: 0;
}

#curlosaurus #submit-block #loader {
  vertical-align: text-top;
  margin-right: 10px;
  display: none;
}

#curlosaurus #roar {
  @include fancy-button();
}

#curlosaurus #roar.disabled {
  @include fancy-button(5, true);
}

#result-holder {
  overflow-x: auto;
  margin: 40px auto 20px auto;
  width: 70%;
  background: #efefef;
  padding: 15px;
}

#result-holder div {
  display: none;
}

#result-holder #body {
  margin-top: 25px;
}

#footer {
  width: 70%;
  text-align: right;
  margin: 0 auto;
  font-size: 10pt;
}

.blurred {
  color: #bbb;
}

.clear {
  clear: both;
}

/* CodeRay overrides */

.CodeRay {
  background: none !important;
  border: none !important;
}
